<header
  class="d-flex flex-wrap justify-content-center align-items-center py-2 px-5 border-bottom bg-dark sticky-top"
>
  <a href="/">
    <img src="logoShop.png" alt="" />
  </a>
  <div>
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" class="nav-link link-light"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/audi"
          routerLinkActive="active"
          class="nav-link link-light"
          >Audi</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/fiat"
          routerLinkActive="active"
          class="nav-link link-light"
          >Fiat</a
        >
      </li>
      <li class="nav-item">
        <a
          routerLink="/ford"
          routerLinkActive="active"
          class="nav-link link-light"
          >Ford</a
        >
      </li>
    </ul>
  </div>
</header>
